*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*reset. css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Gentium Book Basic';
  src: '../Styles/Fonts/Gentium_Book_Basic/GentiumBookBasic-Regular.ttf';
}

@font-face {
  font-family: 'Vollkorn';
  src: url("../Styles/Fonts/Vollkorn/Vollkorn-VariableFont_wght.ttf");
}

@font-face {
  font-family: 'Alegreya';
  src: url("../Styles/Fonts/Alegreya/Alegreya-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-family: 'bahij-sultannahia';
  src: url("../Styles/Fonts/bahij-sultannahia.ttf");
}

@font-face {
  font-family: 'ChronicaPro';
  src: url("../Styles/Fonts/ChronicaPro-Regular.ttf");
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0px;
}

.top-wraper,
.bottom-wraper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px 0px 10px 20px;
}

.project-name {
  width: 49%;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.company {
  width: 49%;
  height: 130px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.disc-team-block {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inner-block {
  height: 194px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.project-name > p:last-child,
.company > p:last-child,
.inner-block p:first-child,
.inner-block > div + p,
.data-por h5 {
  font-weight: bold;
  margin: 10px 0px;
}

.inner-block img {
  width: 120px;
  height: 138px;
}

.team {
  width: 70%;
  margin-left: 20px;
}

.data-por {
  width: 38%;
  height: 410px;
}

.data-por img {
  width: 120px;
  height: 115px;
  margin-bottom: 20px;
}

.project-name,
.company,
.inner-block,
.data-por {
  background-color: #ffffff;
  border-radius: 20px;
  font-family: 'ChronicaPro', Helvetica, sans-serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 25px;
  -webkit-box-shadow: 0px 0px 13px 0px #474747;
          box-shadow: 0px 0px 13px 0px #474747;
}

@media screen and (max-width: 870px) {
  .top-wraper,
  .bottom-wraper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project-name,
  .company,
  .inner-block,
  .data-por {
    width: 100%;
  }
  .data-por {
    height: initial;
  }
  .disc-team-block {
    width: 100%;
  }
  .project-name,
  .inner-block {
    margin-bottom: 20px;
  }
  .inner-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
    height: 100%;
  }
  .team {
    width: 100%;
    margin-left: 0px;
  }
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0px;
}

.rows {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: 'bahij-sultannahia';
}

.row-item {
  width: 250px;
  height: 250px;
  background-color: white;
  border-radius: 20px;
  margin: 20px 20px;
  text-align: center;
  padding: 30px 10px;
  -webkit-box-shadow: 0px 0px 10px 0px #474747;
          box-shadow: 0px 0px 10px 0px #474747;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: relative;
}

.row-item:hover {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: color;
          transform: color;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 5px 7px 8px 5px #474747;
          box-shadow: 5px 7px 8px 5px #474747;
  cursor: pointer;
}

.row-item img {
  border-radius: 100px;
  height: 100px;
}

.row-item h3 {
  font-size: 23px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.row-item h3:hover {
  color: #70a9ff;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.row-item p {
  color: #ababab;
  font-size: 17px;
  -webkit-transition-property: color;
  transition-property: color;
}

.data {
  margin-top: 45px;
  font-size: 15px;
  color: #ababab;
}

.row-item::before {
  content: "";
  width: 0px;
  height: 0px;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transition-property: all;
  transition-property: all;
}

.row-item:hover::before {
  background-image: url(../Images/trash-alt.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 10px 0px #474747;
          box-shadow: 0px 0px 10px 0px #474747;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -20px;
  left: 220px;
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.container-lesson {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

table {
  width: 90%;
  height: 90%;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px 0px #474747;
          box-shadow: 0px 0px 10px 0px #474747;
  border-radius: 20px;
  margin: 30px 0px;
  font-family: 'bahij-sultannahia';
  font-size: 20px;
}

tr {
  line-height: 80px;
}

th {
  font-size: 24px;
}

td {
  text-align: center;
  font-size: 22px;
  position: relative;
}

td img {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
}

td img:hover {
  background-color: #70a9ff;
  border-radius: 5px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

input[type="checkbox"] {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
}

form ~ tr:hover {
  -webkit-box-shadow: 0px 0px 10px 0px #474747;
          box-shadow: 0px 0px 10px 0px #474747;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

form ~ tr:last-child:hover {
  border-bottom-right-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px 0px #474747;
          box-shadow: 0px 0px 10px 0px #474747;
  border-radius: 0px 0px 20px 20px;
}

.wraper-blocks {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 15px 0px;
}

.content-block {
  width: 48.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px 0px 10px 20px;
}

.personal-data {
  width: 100%;
  height: 90px;
  background-color: white;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 40px;
}

.password-icon,
.company-icon,
.person-foto {
  width: 50px;
  height: 50px;
  background-color: #70a9ff;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 20px 0px 0px;
}

.person-foto {
  background-image: url(../Images/1.jpg);
  background-size: cover;
}

.password-icon img,
.company-icon img {
  width: 40px;
  height: 40px;
}

.company-icon {
  background-color: #ffc13c;
}

.title-info {
  width: 80%;
}

.title-info p:first-child {
  font-family: 'bahij-sultannahia';
  font-size: 30px;
}

.title-info p:last-child {
  font-family: 'ChronicaPro';
  font-size: 10px;
  text-decoration: none;
  color: #c5c5c5;
}

.password-change {
  width: 100%;
  background-color: #ffffff;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0px;
}

.password-change > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 40px;
}

form {
  width: 100%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 40px;
}

form p {
  font-family: 'bahij-sultannahia';
  font-size: 20px;
}

input[type="password"],
input[type="text"],
#companyName {
  width: 100%;
  height: 40px;
  font-size: 20px;
  margin: 10px 0px 25px 0px;
  border-radius: 20px;
  border: none;
  font-family: 'bahij-sultannahia';
  padding-left: 20px;
  -webkit-box-shadow: 0px 0px 10px 0px #b6b6b6;
          box-shadow: 0px 0px 10px 0px #b6b6b6;
}

input[type="password"]::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder {
  font-size: 15px;
  color: #b6b6b6;
}

input[type="password"]:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder {
  font-size: 15px;
  color: #b6b6b6;
}

input[type="password"]::-ms-input-placeholder,
input[type="text"]::-ms-input-placeholder {
  font-size: 15px;
  color: #b6b6b6;
}

input[type="password"]::placeholder,
input[type="text"]::placeholder {
  font-size: 15px;
  color: #b6b6b6;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 13px 0px #70a9ff;
          box-shadow: 0px 0px 13px 0px #70a9ff;
}

input[type="password"]:invalid,
input[type="text"]:invalid {
  -webkit-box-shadow: 0px 0px 13px 0px #ff2020;
          box-shadow: 0px 0px 13px 0px #ff2020;
}

input[type="submit"],
input[type="button"] {
  border-radius: 5px;
  background-color: #70a9ff;
  color: #ffffff;
  width: 80px;
  height: 38px;
  border: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

input[type="submit"]:hover,
input[type="button"]:hover {
  outline: none;
  -webkit-box-shadow: 0px 0px 13px 0px #70a9ff;
          box-shadow: 0px 0px 13px 0px #70a9ff;
  border-radius: 5px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.company-second-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 8px;
}

.bg {
  background-color: white;
  border-radius: 20px;
  padding-bottom: 34px;
}

.shadows {
  -webkit-box-shadow: 0px 0px 13px 0px #474747;
          box-shadow: 0px 0px 13px 0px #474747;
}

.modal-container {
  width: 100%;
  height: 100%;
  background-color: #737373aa;
  position: absolute;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.modal-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#title-company-name {
  font-family: 'bahij-sultannahia';
  text-align: center;
  font-size: 42px;
  text-shadow: 5px 7px 8px #f3f300, -5px -7px 8px #70a9ff;
}

.animation-block {
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.animaded-text {
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-family: 'Alegreya';
  text-shadow: 5px 7px 8px #f3f300, -5px -7px 8px #70a9ff;
  font-size: 0px;
  font-weight: bold;
  margin-bottom: 10px;
  opacity: 0;
  -webkit-animation-name: show;
          animation-name: show;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.animated-circle,
.animated-circle-yellow {
  width: 20px;
  height: 20px;
  background-color: #fff200;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.animated-circle-yellow {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  background-color: #70a9ff;
}

.animated-circle-yellow:hover,
.animated-circle:hover,
.animaded-text:hover,
.blue:hover,
.orange:hover,
.green:hover,
.red:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes show {
  5% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  25% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    opacity: 1;
  }
  50% {
    color: #70a9ff;
  }
  100% {
    color: black;
    opacity: 1;
    font-size: 20px;
  }
}

@keyframes show {
  5% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  25% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    opacity: 1;
  }
  50% {
    color: #70a9ff;
  }
  100% {
    color: black;
    opacity: 1;
    font-size: 20px;
  }
}

@-webkit-keyframes move {
  0% {
    top: 0%;
    left: 0%;
  }
  25% {
    top: 0%;
    left: calc(100% - 20px);
  }
  50% {
    top: calc(100% - 20px);
    left: calc(100% - 20px);
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
    border-radius: 90%;
  }
  75% {
    top: calc(100% - 20px);
    left: 0%;
    border-radius: 0%;
  }
  100% {
    top: 0%;
    left: 0%;
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes move {
  0% {
    top: 0%;
    left: 0%;
  }
  25% {
    top: 0%;
    left: calc(100% - 20px);
  }
  50% {
    top: calc(100% - 20px);
    left: calc(100% - 20px);
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
    border-radius: 90%;
  }
  75% {
    top: calc(100% - 20px);
    left: 0%;
    border-radius: 0%;
  }
  100% {
    top: 0%;
    left: 0%;
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

.pulse-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.icon {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.blue {
  background-color: #001eff;
  -webkit-animation: bl 2s infinite;
          animation: bl 2s infinite;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.red {
  background-color: #ff0000;
  -webkit-animation: rd 2s infinite;
          animation: rd 2s infinite;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.orange {
  background-color: #ffb300;
  -webkit-animation: or 2s infinite;
          animation: or 2s infinite;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.green {
  background-color: #22ce00;
  -webkit-animation: gr 2s infinite;
          animation: gr 2s infinite;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

@-webkit-keyframes bl {
  0% {
    -webkit-box-shadow: 0 0 0 #001eff;
            box-shadow: 0 0 0 #001eff;
  }
  50% {
    -webkit-box-shadow: 0 0 0 30px rgba(161, 161, 161, 0);
            box-shadow: 0 0 0 30px rgba(161, 161, 161, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes bl {
  0% {
    -webkit-box-shadow: 0 0 0 #001eff;
            box-shadow: 0 0 0 #001eff;
  }
  50% {
    -webkit-box-shadow: 0 0 0 30px rgba(161, 161, 161, 0);
            box-shadow: 0 0 0 30px rgba(161, 161, 161, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }
}

@-webkit-keyframes rd {
  0% {
    -webkit-box-shadow: 0 0 0 #ff0000;
            box-shadow: 0 0 0 #ff0000;
  }
  50% {
    -webkit-box-shadow: 0 0 0 30px rgba(161, 161, 161, 0);
            box-shadow: 0 0 0 30px rgba(161, 161, 161, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes rd {
  0% {
    -webkit-box-shadow: 0 0 0 #ff0000;
            box-shadow: 0 0 0 #ff0000;
  }
  50% {
    -webkit-box-shadow: 0 0 0 30px rgba(161, 161, 161, 0);
            box-shadow: 0 0 0 30px rgba(161, 161, 161, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }
}

@-webkit-keyframes or {
  0% {
    -webkit-box-shadow: 0 0 0 #ffb300;
            box-shadow: 0 0 0 #ffb300;
  }
  50% {
    -webkit-box-shadow: 0 0 0 30px rgba(161, 161, 161, 0);
            box-shadow: 0 0 0 30px rgba(161, 161, 161, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes or {
  0% {
    -webkit-box-shadow: 0 0 0 #ffb300;
            box-shadow: 0 0 0 #ffb300;
  }
  50% {
    -webkit-box-shadow: 0 0 0 30px rgba(161, 161, 161, 0);
            box-shadow: 0 0 0 30px rgba(161, 161, 161, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }
}

@-webkit-keyframes gr {
  0% {
    -webkit-box-shadow: 0 0 0 #22ce00;
            box-shadow: 0 0 0 #22ce00;
  }
  50% {
    -webkit-box-shadow: 0 0 0 30px rgba(161, 161, 161, 0);
            box-shadow: 0 0 0 30px rgba(161, 161, 161, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes gr {
  0% {
    -webkit-box-shadow: 0 0 0 #22ce00;
            box-shadow: 0 0 0 #22ce00;
  }
  50% {
    -webkit-box-shadow: 0 0 0 30px rgba(161, 161, 161, 0);
            box-shadow: 0 0 0 30px rgba(161, 161, 161, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  }
}

.wraper-center {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.backgr {
  background: url("../../../../../Wallpapers/truzub.jpg");
  width: 390px;
  height: 390px;
  background-size: contain;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.gradients {
  width: 100%;
  background: radial-gradient(ellipse at top, blue, transparent), radial-gradient(ellipse at bottom, yellow, transparent);
  -webkit-animation: backGr 4s infinite;
          animation: backGr 4s infinite;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
  animation-direction: reverse;
}

@-webkit-keyframes backGr {
  0% {
    background: radial-gradient(ellipse at top, rgba(0, 0, 255, 0.5), transparent), radial-gradient(ellipse at bottom, rgba(255, 255, 0, 0.5), transparent);
  }
  25% {
    background: radial-gradient(ellipse at top, rgba(0, 0, 255, 0.6), transparent), radial-gradient(ellipse at bottom, rgba(255, 255, 0, 0.6), transparent);
    background-clip: content-box;
  }
  50% {
    background: radial-gradient(ellipse at top, rgba(0, 0, 255, 0.7), transparent), radial-gradient(ellipse at bottom, rgba(255, 255, 0, 0.7), transparent);
  }
  75% {
    background: radial-gradient(ellipse at top, rgba(0, 0, 255, 0.8), transparent), radial-gradient(ellipse at bottom, rgba(255, 255, 0, 0.8), transparent);
  }
  100% {
    background: radial-gradient(ellipse at top, blue, transparent), radial-gradient(ellipse at bottom, yellow, transparent);
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
}

@keyframes backGr {
  0% {
    background: radial-gradient(ellipse at top, rgba(0, 0, 255, 0.5), transparent), radial-gradient(ellipse at bottom, rgba(255, 255, 0, 0.5), transparent);
  }
  25% {
    background: radial-gradient(ellipse at top, rgba(0, 0, 255, 0.6), transparent), radial-gradient(ellipse at bottom, rgba(255, 255, 0, 0.6), transparent);
    background-clip: content-box;
  }
  50% {
    background: radial-gradient(ellipse at top, rgba(0, 0, 255, 0.7), transparent), radial-gradient(ellipse at bottom, rgba(255, 255, 0, 0.7), transparent);
  }
  75% {
    background: radial-gradient(ellipse at top, rgba(0, 0, 255, 0.8), transparent), radial-gradient(ellipse at bottom, rgba(255, 255, 0, 0.8), transparent);
  }
  100% {
    background: radial-gradient(ellipse at top, blue, transparent), radial-gradient(ellipse at bottom, yellow, transparent);
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
}

header {
  width: 100%;
  height: 85px;
  padding: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menu-link {
  width: 150px;
  text-align: center;
  text-decoration: none;
  font-family: 'ChronicaPro';
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 40px;
  color: #000000;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.menu-link:nth-child(2) {
  margin: 0px 20px;
}

.menu-link:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 5px 7px 8px 3px #474747;
          box-shadow: 5px 7px 8px 3px #474747;
}

.menu-active {
  color: #303030;
  -webkit-box-shadow: 2px 4px 8px -3px #474747;
          box-shadow: 2px 4px 8px -3px #474747;
}

/* ----------------------------------------all pages---------------------------------------- */
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-wraper {
  width: 97%;
  background-color: #d7d7d7;
  border-radius: 20px;
  padding: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0px 0px 10px 0px #474747;
          box-shadow: inset 0px 0px 10px 0px #474747;
}

/* -----------------------------------------aside-------------------------------------- */
.side-menu {
  width: 105px;
  height: 420px;
  background-color: #ffffff;
  border-radius: 20px;
  font-family: 'ChronicaPro';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-shadow: 0px 0px 13px 0px #474747;
          box-shadow: 0px 0px 13px 0px #474747;
}

.smollmenu {
  width: 40px;
  height: 40px;
  color: black;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.smollmenu:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

.smollmenu-active {
  width: 60px;
  height: 40px;
  background-color: #70a9ff;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.smollmenu-active img {
  padding-top: 4px;
  width: 40px;
}

.project::after,
.account::after,
.groups::after,
.cloud::after,
.setting::after {
  content: "";
  font-family: 'Vollkorn';
  color: white;
  cursor: pointer;
  width: 0px;
  line-height: 40px;
  border-radius: 20px;
  position: absolute;
  top: 0px;
  left: -7px;
  overflow: hidden;
  z-index: -2;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  text-align: end;
  padding-right: 20px;
  -webkit-transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
          transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.project:hover::after {
  content: "Project";
  background-color: #70a9ff;
  width: 150px;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.account:hover::after {
  content: "Account";
  background-color: #70a9ff;
  width: 150px;
}

.groups:hover::after {
  content: "Groups";
  background-color: #70a9ff;
  width: 150px;
}

.cloud:hover::after {
  content: "Cloud";
  background-color: #70a9ff;
  width: 150px;
}

.setting:hover::after {
  content: "Setting";
  background-color: #70a9ff;
  width: 150px;
}
/*# sourceMappingURL=common.css.map */