@font-face {
   font-family: 'Gentium Book Basic';
   src: '../Styles/Fonts/Gentium_Book_Basic/GentiumBookBasic-Regular.ttf';
}

@font-face {
   font-family: 'Vollkorn';
   src:url('../Styles/Fonts/Vollkorn/Vollkorn-VariableFont_wght.ttf');
}

@font-face {
   font-family: 'Alegreya';
   src: url('../Styles/Fonts/Alegreya/Alegreya-Italic-VariableFont_wght.ttf') ;
}

@font-face {
   font-family: 'bahij-sultannahia';
   src: url("../Styles/Fonts/bahij-sultannahia.ttf");
}

@font-face {
   font-family: 'ChronicaPro';
   src:url('../Styles/ChronicaPro-Regular.ttf');
}