//-------------------------main page-----------------------
.container {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   padding: 20px 0px;
}

.top-wraper,
.bottom-wraper {
   width: 100%;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin: 10px 0px 10px 20px;
}

.project-name {
   width: 49%;
   height: 130px;
   display: flex;
   align-self: flex-start;
}

.company {
   width: 49%;
   height: 130px;
   align-self: flex-start;
}

.disc-team-block {
   width: 60%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.inner-block {
   height: 194px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   overflow: hidden;
}

.project-name>p:last-child,
.company>p:last-child,
.inner-block p:first-child,
.inner-block>div+p,
.data-por h5 {
   font-weight: bold;
   margin: 10px 0px;
}

.inner-block img {
   width: 120px;
   height: 138px;
}

.team {
   width: 70%;
   margin-left: 20px;
}

.data-por {
   width: 38%;
   height: 410px;
}

.data-por img {
   width: 120px;
   height: 115px;
   margin-bottom: 20px;
}

.project-name,
.company,
.inner-block,
.data-por {
   background-color: #ffffff;
   border-radius: 20px;
   font-family: 'ChronicaPro', Helvetica, sans-serif;
   flex-direction: column;
   padding: 20px 25px;
   box-shadow: 0px 0px 13px 0px $main-shadow;
}

@media screen and (max-width:870px) {

   .top-wraper,
   .bottom-wraper {
      flex-direction: column;
   }

   .project-name,
   .company,
   .inner-block,
   .data-por {
      width: 100%;
   }

   .data-por {
      height: initial;
   }

   .disc-team-block {
      width: 100%;
   }

   .project-name,
   .inner-block {
      margin-bottom: 20px;
   }

   .inner-block {
      display: flex;
      overflow: visible;
      height: 100%;
   }

   .team {
      width: 100%;
      margin-left: 0px;
   }
}

//---------------------------------------team page---------------------------

.container {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   padding: 20px 0px;
}

.rows {
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   font-family: 'bahij-sultannahia';
}

.row-item {
   width: 250px;
   height: 250px;
   background-color: rgb(255, 255, 255);
   border-radius: 20px;
   margin: 20px 20px;
   text-align: center;
   padding: 30px 10px;
   box-shadow: 0px 0px 10px 0px $main-shadow;
   transition-duration: 0.5s;
   position: relative;
}

.row-item:hover {
   transition-duration: 0.5s;
   transform: color;
   transform: translateY(-5px);
   box-shadow: 5px 7px 8px 5px $main-shadow;
   cursor: pointer;
}

.row-item img {
   border-radius: 100px;
   height: 100px;
}

.row-item h3 {
   font-size: 23px;
   transition-duration: 0.3s;
}

.row-item h3:hover {
   color: $main-color;
   transition-duration: 0.3s;
}

.row-item p {
   color: rgb(171, 171, 171);
   font-size: 17px;
   transition-property: color;
}

.data {
   margin-top: 45px;
   font-size: 15px;
   color: rgb(171, 171, 171);
}

.row-item::before {
   content: "";
   width: 0px;
   height: 0px;
   transition-delay: 0.5s;
   transition-property: all;
}

.row-item:hover::before {
   background-image: url(../Images/trash-alt.svg);
   background-repeat: no-repeat;
   background-size: 30px;
   background-position: center;
   background-color: #ffffff;
   box-shadow: 0px 0px 10px 0px $main-shadow;
   border-radius: 10px;
   width: 50px;
   height: 50px;
   position: absolute;
   top: -20px;
   left: 220px;
   cursor: pointer;
   transition-duration: 0.5s;
}

//-------------------------------lessons page--------------------------

.container-lesson {
   width: 100%;
   display: flex;
   justify-content: center;
}

table {
   width: 90%;
   height: 90%;
   background-color: rgb(255, 255, 255);
   box-shadow: 0px 0px 10px 0px $main-shadow;
   border-radius: 20px;
   margin: 30px 0px;
   font-family: 'bahij-sultannahia';
   font-size: 20px;
}

tr {
   line-height: 80px;
}

th {
   font-size: 24px;
}

td {
   text-align: center;
   font-size: 22px;
   position: relative;
}

td img {
   width: 40px;
   height: 40px;
   position: absolute;
   top: 20px;
}

td img:hover {
   background-color: $main-color;
   border-radius: 5px;
   transition-duration: 0.3s;
}

input[type="checkbox"] {
   transform: scale(1.7);
}

form~tr:hover {
   box-shadow: 0px 0px 10px 0px $main-shadow;
   transition-duration: 0.3s;
}

form~tr:last-child:hover {
   border-bottom-right-radius: 20px;
   box-shadow: 0px 0px 10px 0px $main-shadow;
   border-radius: 0px 0px 20px 20px;
}

//--------------------------------account page---------------------------

.wraper-blocks {
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   padding: 15px 0px;
}

.content-block {
   width: 48.3%;
   display: flex;
   flex-wrap: wrap;
   margin: 10px 0px 10px 20px;
}

.personal-data {
   width: 100%;
   height: 90px;
   background-color: white;
   border-radius: 20px;
   display: flex;
   align-items: center;
   padding: 0px 40px;
}

.password-icon,
.company-icon,
.person-foto {
   width: 50px;
   height: 50px;
   background-color: $main-color;
   border-radius: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0px 20px 0px 0px;
}

.person-foto {
   background-image: url(../Images/1.jpg);
   background-size: cover;
}

.password-icon img,
.company-icon img {
   width: 40px;
   height: 40px;
}

.company-icon {
   background-color: rgb(255, 193, 60);
}

.title-info {
   width: 80%;
}

.title-info p:first-child {
   font-family: 'bahij-sultannahia';
   font-size: 30px;
}

.title-info p:last-child {
   font-family: 'ChronicaPro';
   font-size: 10px;
   text-decoration: none;
   color: rgb(197, 197, 197);
}

.password-change {
   width: 100%;
   background-color: #ffffff;
   border-radius: 20px;
   display: flex;
   flex-wrap: wrap;
   padding: 20px 0px;
}

.password-change>div {
   display: flex;
   padding: 0px 40px;
}

form {
   width: 100%;
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   padding: 0px 40px;
}

form p {
   font-family: 'bahij-sultannahia';
   font-size: 20px;
}

input[type="password"],
input[type="text"],
#companyName {
   width: 100%;
   height: 40px;
   font-size: 20px;
   margin: 10px 0px 25px 0px;
   border-radius: 20px;
   border: none;
   font-family: 'bahij-sultannahia';
   padding-left: 20px;
   box-shadow: 0px 0px 10px 0px rgb(182, 182, 182);
}

input[type="password"]::placeholder,
input[type="text"]::placeholder {
   font-size: 15px;
   color: rgb(182, 182, 182);
}

input[type="text"]:focus,
input[type="password"]:focus {
   outline: none;
   box-shadow: 0px 0px 13px 0px $main-color;
}

input[type="password"]:invalid,
input[type="text"]:invalid {
   box-shadow: 0px 0px 13px 0px rgb(255, 32, 32);
}

input[type="submit"],
input[type="button"] {
   border-radius: 5px;
   background-color: $main-color;
   color: #ffffff;
   width: 80px;
   height: 38px;
   border: none;
   transition-duration: 0.5s;
}

input[type="submit"]:hover,
input[type="button"]:hover {
   outline: none;
   box-shadow: 0px 0px 13px 0px $main-color;
   border-radius: 5px;
   transition-duration: 0.5s;
}

.company-second-block {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-top: 8px;
}

.bg {
   background-color: white;
   border-radius: 20px;
   padding-bottom: 34px;
}

.shadows {
   box-shadow: 0px 0px 13px 0px $main-shadow;
}

.modal-container {
   width: 100%;
   height: 100%;
   background-color: #737373aa;
   position: absolute;
   top: 0px;
   left: 0px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   display: none;
}

.modal-wraper {
   display: flex;
   justify-content: center;
}

#title-company-name {
   font-family: 'bahij-sultannahia';
   text-align: center;
   font-size: 42px;
   text-shadow: 5px 7px 8px rgb(243, 243, 0), -5px -7px 8px $main-color;
}

//--------------------------------Project page--------------------------------

.animation-block {
   width: 100%;
   background-color: #ffffff;
   padding: 20px;
   position: relative;
   transform-style: preserve-3d;
}

.animaded-text {
   height: 50px;
   line-height: 50px;
   text-align: center;
   font-family: 'Alegreya';
   text-shadow: 5px 7px 8px rgb(243, 243, 0), -5px -7px 8px $main-color, ;
   font-size: 0px;
   font-weight: bold;
   margin-bottom: 10px;
   opacity: 0;
   animation-name: show;
   animation-duration: 10s;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
}

.animated-circle,
.animated-circle-yellow {
   width: 20px;
   height: 20px;
   background-color: rgb(255, 242, 0);
   position: absolute;
   top: 0px;
   left: 0px;
   animation-name: move;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-duration: 10s;
}

.animated-circle-yellow {
   animation-delay: 0.2s;
   background-color: $main-color;
}

.animated-circle-yellow:hover,
.animated-circle:hover,
.animaded-text:hover,
.blue:hover,
.orange:hover,
.green:hover,
.red:hover {
   animation-play-state: paused;
}

@keyframes show {

   5% {
      transform: rotateZ(-10deg);
   }

   25% {
      transform: rotateZ(0deg);
      opacity: 1;
   }

   50% {
      color: $main-color;
   }

   100% {
      color: black;
      opacity: 1;
      font-size: 20px;
   }
}

@keyframes move {
   0% {
      top: 0%;
      left: 0%;
   }

   25% {
      top: 0%;
      left: calc(100% - 20px);
   }

   50% {
      top: calc(100% - 20px);
      left: calc(100% - 20px);
      transform: rotateZ(180deg);
      border-radius: 90%;
   }

   75% {
      top: calc(100% - 20px);
      left: 0%;
      border-radius: 0%;
   }

   100% {
      top: 0%;
      left: 0%;
      transform: rotateZ(360deg);
   }

}

.pulse-container {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   padding: 20px 0px;
   justify-content: space-evenly;
}

.icon {
   width: 20px;
   height: 20px;
   border-radius: 100%;
}

.blue {
   background-color: #001eff;
   animation: bl 2s infinite;
   animation-delay: 5s;
}

.red {
   background-color: #ff0000;
   animation: rd 2s infinite;
   animation-delay: 5s;
}

.orange {
   background-color: #ffb300;
   animation: or 2s infinite;
   animation-delay: 5s;
}

.green {
   background-color: #22ce00;
   animation: gr 2s infinite;
   animation-delay: 5s;
}

@keyframes bl {
   0% {
      box-shadow: 0 0 0 #001eff;
   }

   50% {
      box-shadow: 0 0 0 30px rgba(161, 161, 161, 0);
   }

   100% {
      box-shadow: 0 0 0 rgba(255, 255, 255, 0);
   }

}

@keyframes rd {
   0% {
      box-shadow: 0 0 0 #ff0000;
   }

   50% {
      box-shadow: 0 0 0 30px rgba(161, 161, 161, 0);
   }

   100% {
      box-shadow: 0 0 0 rgba(255, 255, 255, 0);
   }

}

@keyframes or {
   0% {
      box-shadow: 0 0 0 #ffb300;
   }

   50% {
      box-shadow: 0 0 0 30px rgba(161, 161, 161, 0);
   }

   100% {
      box-shadow: 0 0 0 rgba(255, 255, 255, 0);
   }

}

@keyframes gr {
   0% {
      box-shadow: 0 0 0 #22ce00;
   }

   50% {
      box-shadow: 0 0 0 30px rgba(161, 161, 161, 0);
   }

   100% {
      box-shadow: 0 0 0 rgba(255, 255, 255, 0);
   }

}

.wraper-center {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   align-content: center;
   flex-wrap: wrap;
}

.backgr {
   background: url('../../../../../Wallpapers/truzub.jpg');
   width: 390px;
   height: 390px;
   background-size: contain;
   background-repeat: no-repeat;
   display: flex;
   margin-top: 20px;
}

.gradients {
   width: 100%;
   background: radial-gradient(ellipse at top, blue, transparent),
      radial-gradient(ellipse at bottom, yellow, transparent);
   animation: backGr 4s infinite;
   animation-delay: 6s;
   animation-direction: reverse;
}

@keyframes backGr {
   0% {
      background: radial-gradient(ellipse at top, rgba(0, 0, 255, 0.5), transparent),
         radial-gradient(ellipse at bottom, rgba(255, 255, 0, 0.5), transparent);
   }

   25% {
      background: radial-gradient(ellipse at top, rgba(0, 0, 255, 0.6), transparent),
         radial-gradient(ellipse at bottom, rgba(255, 255, 0, 0.6), transparent);
      background-clip: content-box;
   }

   50% {
      background: radial-gradient(ellipse at top, rgba(0, 0, 255, 0.7), transparent),
         radial-gradient(ellipse at bottom, rgba(255, 255, 0, 0.7), transparent);
   }

   75% {
      background: radial-gradient(ellipse at top, rgba(0, 0, 255, 0.8), transparent),
         radial-gradient(ellipse at bottom, rgba(255, 255, 0, 0.8), transparent);
   }

   100% {
      background: radial-gradient(ellipse at top, blue, transparent),
         radial-gradient(ellipse at bottom, yellow, transparent);
      animation-delay: 1s;

   }
}

.settings-wraper {
   height: 100%;
   padding: 20px;
}

#fonts {
   width: 40%;
}

.settings-wraper>p {
   margin-top: 20px;
}
.col-box{
   width: 100px;
   height: 70px;
   border: 3px outset $main-color;
}
