.container {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   padding: 20px 0px;
}

.top-wraper,
.bottom-wraper {
   width: 100%;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin: 10px 0px 10px 20px;
}

.project-name {
   width: 49%;
   height: 130px;
   display: flex;
   align-self: flex-start;
}

.company {
   width: 49%;
   height: 130px;
   align-self: flex-start;
}

.disc-team-block {
   width: 60%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.inner-block {
   height: 194px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   overflow: hidden;
}

.project-name>p:last-child,
.company>p:last-child,
.inner-block p:first-child,
.inner-block>div+p,
.data-por h5 {
   font-weight: bold;
}

.inner-block img {
   width: 120px;
   height: 138px;
}

.team {
   width: 70%;
   margin-left: 20px;
}

.data-por {
   width: 38%;
   height: 410px;
}

.data-por img {
   width: 120px;
   height: 115px;
   margin-bottom: 20px;
}

.project-name,
.company,
.inner-block,
.data-por {
   background-color: #ffffff;
   border-radius: 20px;
   font-family: 'ChronicaPro';
   flex-direction: column;
   padding: 20px 25px;
}

.project-name,
.company,
.inner-block,
.data-por {
   box-shadow: 0px 0px 13px 0px var(--main-shadow);
}